extends layout

block content
  h1= title
  div(class="row")
    each player in players
     div(class="col-sm-3")
      div(class='card')
        img(class="card-img-top" src=player.imgURL alt="Img Unavailable")
        div(class='card-body')
          h5=player.name
          table(class='table')
            tr
              td(scope='col')="DOB (Year)"
              td(scope='col')=player.dob
            tr
              td(scope='col')="Location"
              td(scope='col')=player.location
            tr
              if player.injury.toLowerCase() !== 'healthy'
                td(scope='col')
                  i(class="fas fa-user-injured")
                td(scope='col')=player.injury
              else
                td(scope='col')
                  i(class="fas fa-running")
                td(scope='col')=player.injury
          ul(class='list-group')
            li(class='list-group-item')
             a(href=`/players/${player.id}/details`)="View More Details"