extends layout

block content
  h1= title
  div(class="row")
    each team in teams
     div(class="col-sm-2")
      div(class='card')
        img(class="card-img-top" src=team.imgurl alt="Img Unavailable")
        div(class='card-body')
          table(class='table')
            tr
              td(scope='col')="Name"
              td(scope='col')=team.name
            tr
              td(scope='col')="Abbrev"
              td(scope='col')=team.abbrev
            tr
              td(scope='col')="Region"
              td(scope='col')=team.region
            tr
              td(scope='col')="Population"
              td(scope='col')=`${team.pop} (M)`
            tr
              td(scope='col')="Strategy"
              td(scope='col')=team.strategy
            tr
              td(scope='col')="Std Capacity"
              td(scope='col')=team.stadium
          ul(class='list-group')
            li(class='list-group-item')
             a(href=`/players?team=${team.id}`)="Roster"
            li(class='list-group-item')
             a(href=`/metrics?team=${team.id}`)="Metrics"
            li(class="list-group-item")
             a(href=`/teams/archive?team=${team.id}`)="Archive"
            
          